$brand-black: #222;
$brand-warning: #ff5e00;
$brand-red: red;
$brand-gray: #e3e3e3;
$text-gray: #757575;
$border-gray: #afafaf;
$label-success: #24e945;

@import "./components/Header/header.scss";
@import "./components/Slider/slider.scss";
@import "./components/Buttons/button.scss";
@import "./components/Product-card/product-card.scss";
@import "./components/Category/category.scss";
@import "./components/Main/main.scss";

html {
  width: 100%;
  height: 100%;
}
body {
  overflow-x: hidden;
  color: $brand-black;
  margin: 0;
  //   background: #f8f8f8;
}
*,
:after,
:before {
  box-sizing: border-box;
}
.space-between {
  display: flex;
  justify-content: space-between;
}
.container {
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 20px;
  a {
    text-decoration: none;
    color: $brand-black;
    &:hover {
      text-decoration: none;
    }
  }
}
.product {
  color: $brand-black;
  display: flex;
  gap: 30px;
  &__column {
    &:first-child {
      flex: 1 1 70%;
    }
    &:last-child {
      flex: 1 0 30%;
    }
  }
  &__wrapper {
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
    margin-bottom: 25px;
  }
  &__img {
    max-width: 570px;
  }
  &__preview-wrapper {
    display: flex;
    gap: 20px;
  }
  &__preview {
    width: 120px;
    height: 120px;
    border-radius: 8px;
    padding: 10px;
    border: 1px solid $brand-black;
  }
  &__description {
    display: flex;
    flex-direction: column;
    gap: 25px;
    p {
      margin: 0;
      line-height: 25px;
    }
    &-title {
      font-size: 20px;
      font-weight: 600;
      margin-bottom: 10px;
    }
    &-list {
      margin: 0;
      padding: 0;
      list-style: none;
    }
    &-img {
      border-radius: 10px;
      width: 100%;
      max-width: 750px;
    }
  }
  &__info {
    display: flex;
    flex-direction: column;
    gap: 15px;
    position: sticky;
    top: 20px;
  }
  &__name {
    font-size: 26px;
    margin: 0;
  }
  &__code {
    color: $text-gray;
  }
  &__price {
    font-weight: 600;
    font-size: 24px;
  }
  &__discount {
    display: flex;
    gap: 10px;
  }
  &__old-price {
    text-decoration: line-through;
    color: $text-gray;
  }
  &__label {
    align-self: baseline;
    padding: 4px 8px;
    background: $label-success;
    color: #fff;
    border-radius: 6px;
  }
  &__amount {
    font-weight: 600;
    input {
      padding: 5px;
      background: #fff;
      border: 1px solid $text-gray;
      border-radius: 6px;
      height: 40px;
      width: 70px;
      outline: 0;
    }
  }
  &__btn {
    font-size: 17px;
    width: 85%;
  }
}
.cart {
  &__container {
    display: flex;
    gap: 30px;
  }
}
.title {
  font-size: 28px;
  font-weight: 600;
}
.product-cart {
  flex: 0 0 30%;
  &__body {
    position: sticky;
    top: 20px;
  }
  &__price {
    margin: 15px 0;
  }
  &__delivery-price {
    margin-bottom: 15px;
  }
  &__total {
    font-size: 20px;
    font-weight: 600;
  }
}
.cart-product {
  display: flex;
  gap: 20px;
  padding: 15px 0;
  border-bottom: 1px solid $brand-gray;
  &__img {
    width: 80px;
    height: 80px;
    border-radius: 6px;
  }
  &__info {
    flex-direction: column;
    padding: 5px 0;
  }
  &__name {
    gap: 20px;
  }
  &__amount {
    gap: 20px;
  }
}
.product-ordering {
  flex: 0 1 70%;
  &__input-group {
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
  }
  &__input-wrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 50%;
    &.phone {
      width: 100%;
    }
  }
  &__input-name {
    span {
      color: $brand-red;
    }
  }
  &__input {
    border: 1px solid $border-gray;
    height: 40px;
    border-radius: 6px;
  }
  &__dropdown-group {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  &__dropdown {
    border: 1px solid $border-gray;
    height: 40px;
    border-radius: 6px;
  }
  &__switch-wrapper {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  &__switch-btn {
    margin: 0;
  }
}
