$brand-black: #222;
$brand-warning: #ff5e00;
$brand-red: red;
$brand-gray: #e3e3e3;
$text-gray: #757575;
$border-gray: #afafaf;
$card-background: #f1f1f1;
$label-success: #24e945;

@import "./components/Header/header.scss";
@import "./components/Slider/slider.scss";
@import "./components/Buttons/button.scss";
@import "./components/Product-card/product-card.scss";
@import "./components/Categories/categories.scss";
@import "./pages/Main/main.scss";
@import "./pages/Product-page/product-page.scss";
@import "./pages/Cart/cart.scss";
@import "./components/Sort-popup/sort.scss";

html {
  width: 100%;
  height: 100%;
}
body {
  overflow-x: hidden;
  color: $brand-black;
  margin: 0;
  background: #f8f8f8;
}
*,
:after,
:before {
  box-sizing: border-box;
}
input,
textarea {
  outline: 0;
  padding: 15px;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.space-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.container {
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 20px;
  a {
    text-decoration: none;
    color: $brand-black;
    &:hover {
      text-decoration: none;
    }
  }
}
.title {
  font-size: 28px;
  font-weight: 600;
}
